In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
#import geopandas as gpd

import warnings
warnings.filterwarnings('ignore')
sns.set()

In [26]:
dataset=pd.read_csv('global-plastics-production.csv')

In [27]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 4 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Entity                                       66 non-null     object
 1   Code                                         66 non-null     object
 2   Year                                         66 non-null     int64
 3   Global plastics production (million tonnes)  66 non-null     int64
dtypes: int64(2), object(2)
memory usage: 2.2+ KB

In [28]:
mwgt = pd.read_csv("mismanaged-waste-global-total.csv")

In [29]:
mwgt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 4 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Entity                             186 non-null    object
 1   Code                               186 non-null    object
 2   Year                               186 non-null    int64
 3   Mismanaged waste (% global total)  186 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 5.9+ KB

In [30]:
mpw_gdp = pd.read_csv("per-capita-mismanaged-plastic-waste-vs-gdp-per-capita.csv")

In [31]:
mpw_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48168 entries, 0 to 48167
Data columns (total 7 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Entity                                               48168 non-null  object
 1   Code                                                 46154 non-null  object
 2   Year                                                 48168 non-null  int64
 3   Per capita mismanaged plastic waste                  186 non-null    float64
 4   GDP per capita, PPP (constant 2011 international $)  6407 non-null   float64
 5   Total population (Gapminder, HYDE & UN)              46883 non-null  float64
 6   Continent                                            285 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 2.6+ MB

In [32]:
pcpw_gdp = pd.read_csv("per-capita-plastic-waste-vs-gdp-per-capita.csv")

In [33]:
pcpw_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48168 entries, 0 to 48167
Data columns (total 7 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Entity                                               48168 non-null  object
 1   Code                                                 46154 non-null  object
 2   Year                                                 48168 non-null  int64
 3   Per capita plastic waste (kg/person/day)             186 non-null    float64
 4   GDP per capita, PPP (constant 2011 international $)  6407 non-null   float64
 5   Total population (Gapminder, HYDE & UN)              46883 non-null  float64
 6   Continent                                            285 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 2.6+ MB

In [34]:
pwpc = pd.read_csv("plastic-waste-per-capita.csv")

In [35]:
pwpc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 4 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Entity                                    186 non-null    object
 1   Code                                      186 non-null    object
 2   Year                                      186 non-null    int64
 3   Per capita plastic waste (kg/person/day)  186 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 5.9+ KB

In [36]:
dataset.describe()

              Year  Global plastics production (million tonnes)
count    66.000000                                 6.600000e+01
mean   1982.500000                                 1.185303e+08
std      19.196354                                 1.126182e+08
min    1950.000000                                 2.000000e+06
25%    1966.250000                                 2.075000e+07
50%    1982.500000                                 7.650000e+07
75%    1998.750000                                 1.985000e+08
max    2015.000000                                 3.810000e+08

In [37]:
mwgt.describe()

         Year  Mismanaged waste (% global total)
count   186.0                         186.000000
mean   2010.0                           0.537634
std       0.0                           2.298779
min    2010.0                           0.000000
25%    2010.0                           0.006850
50%    2010.0                           0.050200
75%    2010.0                           0.208175
max    2010.0                          27.696600

In [38]:
mpw_gdp.describe()

,Year,Per capita mismanaged plastic waste,"GDP per capita, PPP (constant 2011 international $)","Total population (Gapminder, HYDE & UN)"
count,48168.000000,186.000000,6407.000000,4.688300e+04
mean,1903.147442,0.045226,14926.095591,2.982790e+07
std,315.716839,0.050077,17739.754531,2.530860e+08
min,-10000.000000,0.001000,247.436540,9.050000e+02
25%,1859.000000,0.006000,3021.071807,2.017335e+05
50%,1920.000000,0.032000,8447.264179,1.542937e+06
75%,1975.000000,0.066000,19607.537075,5.886795e+06
max,2019.000000,0.299000,135318.754421,7.713468e+09

In [39]:
pcpw_gdp.describe()

,Year,Per capita plastic waste (kg/person/day),"GDP per capita, PPP (constant 2011 international $)","Total population (Gapminder, HYDE & UN)"
count,48168.000000,186.000000,6407.000000,4.688300e+04
mean,1903.147442,0.179812,14926.095591,2.982790e+07
std,315.716839,0.123006,17739.754531,2.530860e+08
min,-10000.000000,0.010000,247.436540,9.050000e+02
25%,1859.000000,0.103000,3021.071807,2.017335e+05
50%,1920.000000,0.144000,8447.264179,1.542937e+06
75%,1975.000000,0.252000,19607.537075,5.886795e+06
max,2019.000000,0.686000,135318.754421,7.713468e+09

In [40]:
pwpc.describe()

         Year  Per capita plastic waste (kg/person/day)
count   186.0                                186.000000
mean   2010.0                                  0.179812
std       0.0                                  0.123006
min    2010.0                                  0.010000
25%    2010.0                                  0.103000
50%    2010.0                                  0.144000
75%    2010.0                                  0.252000
max    2010.0                                  0.686000

In [41]:
dataset.describe(include='object')

       Entity      Code
count      66        66
unique      1         1
top     World  OWID_WRL
freq       66        66

In [42]:
mwgt.describe(include='object')

         Entity Code
count       186  186
unique      186  186
top     Albania  ALB
freq          1    1

In [43]:
mpw_gdp.describe(include='object')

           Entity   Code Continent
count       48168  46154       285
unique        337    286         7
top     Lithuania    MWI    Europe
freq          220    220        75

In [44]:
pcpw_gdp.describe(include='object')

           Entity   Code Continent
count       48168  46154       285
unique        337    286         7
top     Lithuania    MWI    Europe
freq          220    220        75

In [45]:
pwpc.describe(include='object')

         Entity Code
count       186  186
unique      186  186
top     Albania  ALB
freq          1    1

In [46]:
duplicateRows=dataset[dataset.duplicated()]

In [47]:
duplicateRows

Empty DataFrame
Columns: [Entity, Code, Year, Global plastics production (million tonnes)]
Index: []

In [48]:
duplicateRows=mwgt[mwgt.duplicated()]

In [49]:
duplicateRows

Empty DataFrame
Columns: [Entity, Code, Year, Mismanaged waste (% global total)]
Index: []

In [50]:
duplicateRows=mpw_gdp[mpw_gdp.duplicated()]

In [51]:
duplicateRows

Empty DataFrame
Columns: [Entity, Code, Year, Per capita mismanaged plastic waste, GDP per capita, PPP (constant 2011 international $), Total population (Gapminder, HYDE & UN), Continent]
Index: []

In [52]:
duplicateRows=pcpw_gdp[pcpw_gdp.duplicated()]

In [53]:
duplicateRows

Empty DataFrame
Columns: [Entity, Code, Year, Per capita plastic waste (kg/person/day), GDP per capita, PPP (constant 2011 international $), Total population (Gapminder, HYDE & UN), Continent]
Index: []

In [54]:
duplicateRows=pwpc[pwpc.duplicated()]

In [55]:
duplicateRows

Empty DataFrame
Columns: [Entity, Code, Year, Per capita plastic waste (kg/person/day)]
Index: []

In [56]:
dataset.isna().any()

Entity                                         False
Code                                           False
Year                                           False
Global plastics production (million tonnes)    False
dtype: bool

In [57]:
dataset.isnull().sum()

Entity                                         0
Code                                           0
Year                                           0
Global plastics production (million tonnes)    0
dtype: int64

In [58]:
dataset.describe()

              Year  Global plastics production (million tonnes)
count    66.000000                                 6.600000e+01
mean   1982.500000                                 1.185303e+08
std      19.196354                                 1.126182e+08
min    1950.000000                                 2.000000e+06
25%    1966.250000                                 2.075000e+07
50%    1982.500000                                 7.650000e+07
75%    1998.750000                                 1.985000e+08
max    2015.000000                                 3.810000e+08

In [59]:
mwgt.isna().any()

Entity                               False
Code                                 False
Year                                 False
Mismanaged waste (% global total)    False
dtype: bool

In [60]:
mwgt.isnull().sum()

Entity                               0
Code                                 0
Year                                 0
Mismanaged waste (% global total)    0
dtype: int64

In [61]:
mwgt.describe()

         Year  Mismanaged waste (% global total)
count   186.0                         186.000000
mean   2010.0                           0.537634
std       0.0                           2.298779
min    2010.0                           0.000000
25%    2010.0                           0.006850
50%    2010.0                           0.050200
75%    2010.0                           0.208175
max    2010.0                          27.696600

In [62]:
mpw_gdp.isna().any()

Entity                                                 False
Code                                                    True
Year                                                   False
Per capita mismanaged plastic waste                     True
GDP per capita, PPP (constant 2011 international $)     True
Total population (Gapminder, HYDE & UN)                 True
Continent                                               True
dtype: bool

In [63]:
mpw_gdp.isnull().sum()

Entity                                                     0
Code                                                    2014
Year                                                       0
Per capita mismanaged plastic waste                    47982
GDP per capita, PPP (constant 2011 international $)    41761
Total population (Gapminder, HYDE & UN)                 1285
Continent                                              47883
dtype: int64

In [64]:
mpw_gdp.describe()

,Year,Per capita mismanaged plastic waste,"GDP per capita, PPP (constant 2011 international $)","Total population (Gapminder, HYDE & UN)"
count,48168.000000,186.000000,6407.000000,4.688300e+04
mean,1903.147442,0.045226,14926.095591,2.982790e+07
std,315.716839,0.050077,17739.754531,2.530860e+08
min,-10000.000000,0.001000,247.436540,9.050000e+02
25%,1859.000000,0.006000,3021.071807,2.017335e+05
50%,1920.000000,0.032000,8447.264179,1.542937e+06
75%,1975.000000,0.066000,19607.537075,5.886795e+06
max,2019.000000,0.299000,135318.754421,7.713468e+09

In [65]:
pcpw_gdp.isna().any()

Entity                                                 False
Code                                                    True
Year                                                   False
Per capita plastic waste (kg/person/day)                True
GDP per capita, PPP (constant 2011 international $)     True
Total population (Gapminder, HYDE & UN)                 True
Continent                                               True
dtype: bool

In [66]:
pcpw_gdp.isnull().sum()

Entity                                                     0
Code                                                    2014
Year                                                       0
Per capita plastic waste (kg/person/day)               47982
GDP per capita, PPP (constant 2011 international $)    41761
Total population (Gapminder, HYDE & UN)                 1285
Continent                                              47883
dtype: int64

In [67]:
pcpw_gdp.describe()

,Year,Per capita plastic waste (kg/person/day),"GDP per capita, PPP (constant 2011 international $)","Total population (Gapminder, HYDE & UN)"
count,48168.000000,186.000000,6407.000000,4.688300e+04
mean,1903.147442,0.179812,14926.095591,2.982790e+07
std,315.716839,0.123006,17739.754531,2.530860e+08
min,-10000.000000,0.010000,247.436540,9.050000e+02
25%,1859.000000,0.103000,3021.071807,2.017335e+05
50%,1920.000000,0.144000,8447.264179,1.542937e+06
75%,1975.000000,0.252000,19607.537075,5.886795e+06
max,2019.000000,0.686000,135318.754421,7.713468e+09

In [68]:
pwpc.isna().any()

Entity                                      False
Code                                        False
Year                                        False
Per capita plastic waste (kg/person/day)    False
dtype: bool

In [69]:
pwpc.isnull().sum()

Entity                                      0
Code                                        0
Year                                        0
Per capita plastic waste (kg/person/day)    0
dtype: int64

In [70]:
pwpc.describe()

         Year  Per capita plastic waste (kg/person/day)
count   186.0                                186.000000
mean   2010.0                                  0.179812
std       0.0                                  0.123006
min    2010.0                                  0.010000
25%    2010.0                                  0.103000
50%    2010.0                                  0.144000
75%    2010.0                                  0.252000
max    2010.0                                  0.686000